private:
friend class static_constructor_for_{{class_name}};
struct static_constructor_for_{{class_name}}
{
    static_constructor_for_{{class_name}}();
};
static static_constructor_for_{{class_name}} _static_constructor_;
